<!-- #DEFAULT_PART#begin -->
<p>déclic bla bla bla bla ceci :</p>
<p>###content###</p>
<!-- #DEFAULT_PART#end -->


<!-- #MAIL_PART#begin -->
<p><b>Test</b> de la lib mail :</p>
<p>###content###</p>
<!-- #MAIL_PART#end -->