<!-- #MAIN_PART#begin -->
<h1 class="titre"><span>Mes voyages réguliers</span></h1>
<!-- #message#begin --><div id="message"><b>###message###</b></div><!-- #message#end -->
Liste de vos voyages réguliers :
<table class="voyagesreguliers">
	<thead>
		<tr>
			<th rowspan="2">Arrêt de départ</th>
			<th rowspan="2">Arrêt d’arrivée</th>
			<th rowspan="2">horaire de départ</th>
			<th rowspan="2">horaire d'arrivée</th>
			<th rowspan="2">Début de période</th>
			<th rowspan="2">Fin de période</th>
			<th rowspan="2">Nombre de personnes</th>
			<th colspan="7">Semaine d'activation</th>
		</tr>
		<tr>
			<th>L</th>
			<th>M</th>
			<th>M</th>
			<th>J</th>
			<th>V</th>
			<th>S</th>
			<th>D</th>
		</tr>
	</thead>
	<tbody>
		<!-- #reservation#begin -->
			<tr ###ODD_EVEN_TABLE_ROW###>
				<td>###depart###</td>
				<td>###arrivee###</td>
				<td>###horaire_arrivee###</td>
				<td>###horaire_depart###</td>
				<td>###debut_periode###</td>
				<td>###fin_periode###</td>
				<td>###nb_personnes###</td>
				<!-- #activation#begin -->
					<td><!-- #active?#begin --><img src="###PATH:public/images/boule_rouge.gif###" /><!-- #active?#end --></td>
				<!-- #activation#end -->
			</tr>
		<!-- #reservation#end -->
	</tbody>
</table>
<!-- #MAIN_PART#end -->