<!-- #MENU_PART#begin -->
<!-- #menu#begin -->
	<a <!-- #link_selected?#begin -->class="link_selected"<!-- #link_selected?#end --> href="###LIEN###">###NAME###</a><!-- #notlast?#begin -->&nbsp;|&nbsp;<!-- #notlast?#end -->
<!-- #menu#end -->
<!-- #MENU_PART#end -->